[Unit]
Description=WOPR Terminal Display
After=network-online.target

[Service]
User=pi
Group=pi
Type=simple
Restart=on-failure
ExecStartPre=/usr/local/bin/backlight_on.sh
ExecStart=/usr/bin/python3 /home/pi/wopr-display/wopr.py
ExecStopPost=/usr/local/bin/backlight_on.sh
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target